body{
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,21,121,1) 64%, rgba(0,95,255,1) 100%);
    font-size: 16px;
}

.button {
    padding: 16px 20px;
    box-shadow:0px -2px 0 #1b1b1b inset;
    transition:all 0.3s;
}
.button:hover{
    box-shadow:0px -4px 0 #1b1b1b inset;
    cursor: pointer;
}

.header-buttons{
    padding: 0px;
    width: 54px;
    height: 54px;
}

#side-part{
    width: 128px;
}

/* ------------------------*/

.large{
    font-size: 40px;
}
.medium{
    font-size: 20px;
}
.small{
    font-size: 16px;
}

/* ------------------------*/

#page{
    padding: 10px 20px 10px 20px;
    box-shadow: 0px -1px 0 #ac0513 inset;
    border-radius: 9px;
    border: #882f2f;
}

.side-wrappers{
    height: 80px;
}

#myCanvas {
    background-image: linear-gradient(#1d1919 2px, transparent 2px), linear-gradient(to right, #1d1919 2px, transparent 2px);
}
